* {
	padding: 0;
	margin: 0;
}

body {
	background: #DDDDDD;
	font-family: helvetica;
}

h1 {
	font-family: helvetica;
	font-size: 5em;
	color: white;
	text-shadow: -10px 5px 10px black;
	text-align: center;
	margin-top: 140px;
	position: relative;
	display: block;
}

h2 {
	
}

/*************************
	HEADER STYLES
**************************/
header {
	text-align: center;
	color: white;
	text-shadow: -10px 5px 10px black;
	height: 950px;
	background-image: url(img/main_background.jpg);
	border:rgba(0,0,0,0) 1px solid;
}

#first-text {
	color: darkorange;
	width: 46%;
	background: rgba(0,0,0,0.7);
	padding: 40px;
	margin: 110px auto;
	border-radius: 13px;
}

#first-text p {
	font-size: 1.1em;
}

#first-text h2 {
	color: white;
	font-size: 2.5em;
	margin-bottom: 23px;
}


/*************************
	WHY THIS IS
**************************/

.category_black {
	background: #050505;
	color: white;
	box-shadow: 0 -30px 20px 40px #050505;
	height: 500px;
}

.category_black h2 {
	text-align: center;
	font-size: 3.5em;
	text-shadow: -2px 0px 15px #BBB;
}

#why_this_is ul {
	list-style: circle;
	max-width: 100%;
/* 	border: 1px dashed #ff4c4c; */
	padding:1px;
	font-size: 1.2em;
	font-family: helvetica;
}

#why_this_is li{
	margin: 1em
}

#why_this_is img, a {
	max-width: 100%;
	border-radius: 13px;
}

#why_this_is div {
	width: 40%;
	float: left;
	margin: 30px 0 0 6.5%;
	max-width: 450px;
}

/*************************
	WHERE TO FIND THE TUTORIAL
**************************/

#where_to_find {
	background: url(img/resources.jpg) center 30%;
	background-size: 100%;
}

.category_color {
	height: 500px;
	
	padding: 50px 0;
}

.category_color h2 {
	text-align: center;
	font-size: 3.5em;
	text-shadow: -2px 0px 15px #BBB;
	color: white;
	top: 40px;
}

.category_color div {
	width: 40%;
	display: inline-block;
	margin: 0 7%;
	background: rgba(255,255,255, 0.8);
	max-width: 300px;
	border-radius: 20px;
}

.category_color img {
	width: 100%;
	opacity: 0.7;
}

#html_dog_text {
	padding: 40px;
	font-size: 1.3em;
}

/*************************
	TABLES
**************************/

#table {
	box-shadow: 0 0 50px 1px white;
}

